# Required (this allows you to encrypt and decrypt sensitive details in the database.

io.windflow.encryption.password=<insert-your-chosen password-here>

# Only required for github authentication

io.windflow.auth.github_callback_url=http://auth.windflow.local:8080/api/extensions/io.windflow.eternalengine.extensions.api.OpenIdExtension/github_callback
io.windflow.auth.github_client_id=30bd3b79eb4c2e226e13
io.windflow.auth.github_client_secret=43f827284f61d22e982cf0600d1bb4de30e8c580
