<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${pageData.getLang()}">
    <!-- SPA Page Template HTML -->
    <head>
        <meta th:if="${pageData.getCharset() != null}" th:charset="${pageData.getCharset()}">
        <title th:text="${pageData.getTitle()}"></title>
        <meta th:each="metaTag : ${pageData.getMetaData().getMetaTags()}" th:name="${metaTag.getName()}" th:content="${metaTag.getContent()}"/>
        <link th:each="link : ${pageData.getMetaData().getLinks()}" th:rel="${link.getRel()}" th:type="${link.getType()}" th:href="${link.getHref()}"  th:sizes="${link.getSizes()}"/></head>
    <body>
        <div id="app"></div>
        <script type="module" src="/app/app.mjs"></script>
    </body>
</html>
